* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  /* padding: 2rem; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 9rem;
  background-color: rgb(57, 95, 117);
}
.welcome {
  /* font-family: "Poppins", sans-serif; */
  font-size: 1.9rem;
  font-weight: 500;
  color: blanchedalmond;
  /* color: #444444;
  padding: 0 20px; */
}
.logo {
  height: 5.25rem;
}
.login {
  display: flex;
}

.login__input {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 13rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.4s;
  cursor: pointer;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: blanchedalmond;
  cursor: pointer;
  transition: all 0.3s;
}
.balance {
  display: flex;
  justify-content: space-between;
}
